@media print {
    .tm-sidebar, .heading, .blocks, #about, #ideas, #ideas+section {
    display:none;
}

section::before {
    display: none;
}

h2.tm-section-title {
    color: blue;
    margin-left: -100px;
}

.flex-2-col {
    display: flex;
    flex-direction: row;
    margin-top:-50px;
}

.flex-2-col > .padding-medium {
    width: 65%;
    align-items: center;
}

.padding-medium + .flex-item {
    display: inherit;
    width: 35%;
    align-items: center;
    justify-content: center;
}

.flex-item > img {
    object-fit: none;
}
footer {
    margin-top:-50px;
}
}

.box.box-bg h2:hover {
background-color: lightskyblue;
color: white;
font-weight: bold;
}

p::first-letter {
    color:lightskyblue;
    font-size: 30px;
}

h2+p {
    font-style: italic;
}

p {
    text-indent: 20px;
    line-height:1.8;
}

.tm-banner {
    background-color: #f5f5f5;
}

.tm-banner-inner {
    background-color: white;
}

#home, .tm-sidebar, section[id], section[class], section:nth-child(2) div[class="tm-content-box flex-2-col"], #about  {
    box-shadow: 0px 0px 5px 1px grey;
}

.flex-2-col {
    display: flex;
    flex-direction: row;
}

.flex-2-col > .padding-medium {
    
    width: 65%;
}

.padding-medium.flex-item.tm-team-description-container.flex-item {
    display: inherit;
    flex-direction: column;
    justify-content: center;
}

.padding-medium + .flex-item {
    display: inherit;
    width: 35%;
}

.flex-item > img {
    
    object-fit: contain
}

.carousel-content h2 {
    color:gainsboro;
    letter-spacing: 5px;
}

section[class="heading tm-content-box"] a {
    border-bottom: 1px solid;
    border-bottom-color: white;
    line-height: 0.95;
    display: inline-block;
    text-shadow: 1px 1px white,
    1px -1px white,
    -1px 1px white,
    -1px -1px white;
}

div section[class="heading tm-content-box"] a:hover {
    text-decoration-line: underline;
    text-decoration-style: double;
    color:lightskyblue;
    border-bottom-color:white;
    
        
 }

section[class="heading tm-content-box"] a:visited {
    border-bottom-color:black;
    color: black;
 }

section .padding-medium ol li:nth-child(1) a:after, ol li:nth-child(3) a::after {
    content: "New";
    vertical-align: super;
    font-size: x-small;
    color: red;
    text-decoration-line: none;
 }

.box.box-work div p {
    font-style: italic;
    color: gray;
    text-indent: 0px;
}

.box.box-work div p::first-letter {
    color:gray;
}

.tm-content-box .boxes.gallery-container .box.box-work:nth-child(even){
    background-color: #f5f5f5;
}

.box.box-work{
    padding: 5px;
}

#contact div:nth-child(2)::after {
    content: "*";
    color: red;
    position:absolute;
}

.btn.btn-primary.submit-btn {
    color: lightskyblue;
    background-color: white;
    border-color: lightskyblue;
    font-weight: 100;
    border-radius: 0;
    width: 150px;
    height: 50px;
    float: right;
}

.btn.btn-primary.submit-btn:hover {
    color: white;
    background-color: lightskyblue;
}

.tm-nav-item:hover {
    background-color:#f5f5f5;
}

section::before {  
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-top: 30px solid lightskyblue;
    border-right: 350px solid transparent;
}
div#about.tm-content-box::before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-top: 30px solid lightskyblue;
    border-right: 350px solid transparent;
    z-index:1;
}
