h1 {
    text-align: center;
}
a {
    font-size: 28px;
}
input {
    border-radius: 10px;
    margin-bottom: 20px;
    padding: 5px 0;
    width: 100%;
}
div {
    width:400px;
    text-align: center;
}
ul {
    padding: 0;
    list-style: none;
}
li {
   margin:0 auto;
   display:flex;
   justify-content: space-between;
   width: 400px;
}
.left {
    float: left;
}
.right {
    float: right;
}
.button {
    cursor: pointer;
    font-size: 22px;
    text-decoration: none;
    border-radius: 10px;
    background: #cccccc;
    padding: 2px 30px;
    color: black;
}
.hidden {
    display: none;
}
.disabled {
    pointer-events: none;
}
.description, img {
    cursor: pointer;
}
.action-area {
    width: 400px;
}
#root {
    width: 600px;
    margin: 0 auto;
    text-align: center;
}