$fonts-set: normal 18px/26px "Palatino Linotype", "Book Antiqua", Palatino, serif;
$header-image: "../img/header_background_v2.jpg";
$button-color: #0401ac;
$post-header-color:#607d8b;
$post-description-color: #bdbdbd;
$body-color:#efefef;
$post-background-color:white;
$text-color:#ff5722;
$main-text-color:#757575;
$button-text-color:white;
$input-border:1px solid #cfd8dc; 
$bottom-border-color: #cfd8dc;