$fonts-set: normal 300 15px/24px Roboto, Ubuntu, Cantarell, Helvetica ,sans-serif;
$header-image: "../img/header_background_v1.jpg";
$button-color: #01acac;
$post-header-color:#0097a7;
$post-description-color: #e90303;
$body-color: white;
$post-background-color:#efefef;
$text-color:white;
$main-text-color:#010f16;
$button-text-color:white;
$input-border:1px solid #607d8b; 
$bottom-border-color:#607d8b;
