body {
    font-family: 'Roboto', sans-serif;
    padding: 0 20px;

}
h1 {
    font-weight: normal;
    text-align: center;
}
h4 {
    text-align: center;
    display: none;
}

form input {
    padding: 3px;
    
}
input[type="text"] {
    padding: 3px;
    width: 100%;
    margin: 0 10px;
}

i {
    display: inline-flex;
    vertical-align: middle;
    cursor: pointer;
}
table {
    width: 100%;
}

img {
    position: absolute;
    height: 100px;
    bottom: 0;
    right: 0;
    left: 0;
    margin: 0 auto 20px;
}
.over {
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
}
.input-holder {
    display: flex;
    margin-bottom: 20px;
}
.material-icons.md-33 { 
    font-size: 33px;
    margin: -3px;
}
.delete {
    position: absolute;
    right: 0;
    top: 0;
}

.container {
    display: block;
    position: relative;
    padding-left: 35px;
    padding-top: 3px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 14px;
    
  }
  
  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    display: none;
  }
  .uncheckmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
  }
  .add-button-disabled {
      pointer-events: none;
      opacity: 0.5;
  }
  .add-button-enabled {
    pointer-events: all;
    opacity: 1;
}